@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg: #0E0F11;
  --fg: #ffffff;
}

body {
  color: var(--fg);
  background-color: var(--bg);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

